@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /* Faz com que a imagem de fundo seja redimensionada para cobrir o elemento mesmo que precise ser cortada  */ 
    background-attachment: fixed; /* A imagem é fixada na tela, ao rolar a página o fundo permanece no mesmo lugar mesmo que role a tela ela continuará no lugar configurado */
}

main{
    position: relative; /*  */ 
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%; /* distanciando em 50% do topo da tela */
    left: 50%; /* distanciando em 50% da esquerda da tela */
    transform: translate(-50%, -50%); /* menos metade para a esquerda, menos metade para o topo, isso centraliza o bloco */

    height: 627px;
    width: 311px;
    background: url('../images/frame-iphone.png') no-repeat;
    
}

iframe#tela{
    position: relative;
    top: 82px;
    left: 24px;
    width: 263px;
    height: 467px;
}

section#redes-sociais{
    text-align: left; /* Passando ob botões para o lado direito da tela */
}

section#redes-sociais img{
    width: 50px;
    margin: 20px;
    border-radius: 50%; /* Deixa os botões redondos */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.417); /* Sombra */
}

section#redes-sociais img:hover{
    cursor: pointer; /* Muda o cursor para a mãozinha */

    transform: scale(1.2); /* Aumenta o tamanho do botão */

    transition: all 0.75s ease, border 2s; /* Faz a transição suave all significa que aplica isso em todas as propriedades que forem alteradas 0.3 é o tempo que dura e ease é pra começar devagar e ir acelerando a animação conforme o tempo*/

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.558); /* Sombra */

    border: 3px solid rgb(255, 255, 255); /* Borda branca */
     /* Tempo de aparecimento da borda */


}

section#redes-sociais img:not(:hover) {
    transition-duration: 1s; /* Tempo de volta para o padrão */
    transition-property: all; /* definindo para todas as propriedades */
    transition-timing-function: ease; /* Inicia devagar depois termina rápido */
    opacity: 0.9; /* Opacidade padrão */
    border: 1px solid rgba(0, 0, 0, 0); /* Borda invisivel para voltar ao normal com animação (gambiarra) */
}



